ghostHost: ghost.w3f.community
ghostPassword: {{ env "GHOST_PASSWORD" | default "ghost_password" }}

service:
  type: ClusterIP

ingress:
  enabled: true
  certManager: true
  hosts:
  - name: ghost.w3f.community
    tls: false

mariadb:
  db:
    password: {{ env "MARIADB_PASSWORD" | default "mariabd_password" }}
  rootUser:
    password: {{ env "MARIADB_ROOT_PASSWORD" | default "mariabd_root_password" }}
